:root {
  --neon: hsl(317 100% 54%);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
